
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.cabecalho{
    background: linear-gradient(rgb(32, 1, 1),rgb(196, 6, 6));
    text-align: center;
    color: white;
    height: 120px;
    padding-top: 25px;
    font-family: 'Trade Winds', cursive;
    font-size: 25px;
}

.textopersonagem {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}

.personagens {
    display: flex;
    flex-direction: row;
    

}



.imagem {
    width: 300px ;
    height: 350px ;
}

.personagemum {
    text-align: center;
    width: 380px;
    height: 580px;
    border: solid 3px black;
    margin: 2% auto;
    padding: 10px ;

    
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    padding-bottom: 30px;
}



.botao {

    background-color: red;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    color: black;
    box-shadow: 4px 4px 4px black;

}

a {
    color: black;
    text-decoration: none;
}


 .botao :hover{
     font-size: 27px;
 }

.rodape p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-top: 17px;
    background: linear-gradient(rgb(32, 1, 1),rgb(196, 6, 6));
    

}

